      
 <div id="accept">
  <%= link_to "Accept",  accept_user_path(curent_user: current_user.id, user: requested_user.id) ,remote: true ,class: "btn btn-sm btn-success"%> |   
  <%= link_to "Decline", cancel_user_path(curent_user: current_user.id, user: requested_user.id) ,remote: true,class: "btn btn-sm btn-danger"%>
</div>