<h1>All Friend</h1>


<ul class="users">
  <% @friends.each do |user| %>
    <li>
    
     <%= user.follower.username %><br/>
     <%= user.follower.email %><br/>
   </li>
     
 <% end %>
</ul> 




  