<h1>All users</h1>

<% #@users  User.all %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
     <%= gravatar_for user, size: 50 %>
     <%= user.username %><br/>
     <%= user.email %><br/>
  
    <div class="follow-button-area" id="user-<%=user.id%>" style="float: right">
      <% if current_user.get_friendship_status(user) == "friend"  %>
        <div id="cancel">
          <%= button_to "Unfriend", {action: 'un_friend', id: user.id}, method: 'get' ,class: 'btn btn-secondary btn-unfriend header-align', remote: true %>
        </div>
      <% elsif  current_user.get_friendship_status(user) == "pending" %>
        <%= render 'pending_button', user: user %>
      <% elsif current_user.get_friendship_status(user) == "not yet" %>
        <%= render 'add_friend_button', user: user %>
      <% end %>
    </div>
    </li>

  <% end %>
</ul>   
  



<%= paginate @users %>
