<!--<h1><%= current_user.email %></h1>-->
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= current_user.email %>
      </h1>
    </section>
  </aside>
</div>


  <% Follow.where(followable_id: current_user, isaccepted: false).each do |request| %>
    <h4>You have new friend requests from:</h4>
    <li>
      <%= request.follower.email %> 
     <%= render 'request', :requested_user => request.follower %> 
   
    </li>
  <% end %>

