<% if current_user %>
    Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-lg btn-default" %> |
  <%= link_to 'Posts', posts_path, class: "btn btn-lg btn-primary" %>

<% else %>

  <h1> Welcome To Facebook</h1>
  <strong><p> Communicate || Make Friend || World </p> </strong>


  <div class="center">
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', class: "btn btn-lg btn-primary"  %>
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link' , class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag("mate.png", alt: "Rails logo") %>
<% end %>

  
