

<p>
  <strong>Content:</strong>
  <%= @post.content %>
  <%= image_tag @post.picture.url if @post.picture? %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>

<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
<div class="center">
  <% if pre_like %>
    <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete , class: "btn btn-lg btn-primary" %>
  <% else %>
    <%= button_to 'Like', post_likes_path(@post), method: :post, class: "btn btn-lg btn-primary" %>
  <% end %>

  <br>
   <h1><%= @post.comments.count %> Comments</h1>
        <%= render @post.comments %>
    
    <h3> Add a Comments: </h3>
     <%= link_to 'Comment', new_post_comment_path(@post) ,class: "btn btn-sm btn-success"%> 
  <br>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>

